<div class="container">
    <form (ngSubmit)="guardar()" #forma="ngForm">

        <div class="row">
            <div class="col-5">
                <label for="elnombre" class="lbl">Nombres</label>
            </div>
            <div>
                <input 
                type="text" 
                id="elnombre" 
                placeholder="" 
                class="espacio" 
                name="nombres"
                [(ngModel)]="informacion.nombres"
                required
                minlength="3"
                #nombres="ngModel"
                [class.is-invalid]="nombres.invalid && nombres.touched"
                pattern="^[a-zA-ZñÑ\s]+$">
                <small class="text-danger" *ngIf="nombres.invalid && nombres.touched">
                    Ingrese solo mas de 3 letras
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <label for="ladireccion" class="lbl">Direccion</label>
            </div>
            <div>
                <input 
                type="text" 
                id="ladireccion" 
                placeholder="" 
                class="espacio"
                name="direccion"
                [(ngModel)]="informacion.direccion"
                required
                #direccion="ngModel"
                [class.is-invalid]="direccion.invalid && direccion.touched"
                pattern="^[0-9a-zA-ZñÑ\s]+$">

                <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
                    La direccion tiene que tener numeros y letras
                </small>
            </div>
        </div>

        <div class="colocar">
            <span><input 
                type="checkbox"
                id="check" 
                name="acept" 
                ngModel
                acept="ngModel"
                required>
                Acepta los terminos y condiciones
            </span>
        </div>

        <div class="row">
            <div class="completo">
                <button type="submit" class="btn" [disabled]="!forma.valid">Guardar</button>
            </div>
        </div>
    </form>
</div>

