.container {
    border-radius: 10px;
    background-color: #f2f2f27c;
    padding: 40px;
}
    
.row {
    padding-top: 20px;
}

.colocar {
    padding-top: 20px;
}

.is-invalid {
    border: 1px solid red;
}
    